<div class="taxonomy-term-wrapper {{ taxonomy.name }}">
	<div class="taxonomy-term-content">
		{% for teaser in teasers %}
			<div class="teaser-item">
				{{ teaser }}
			</div>
		{% endfor %}
	</div>
</div>
